* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
div ul li {
  display: inline;
}
div ul li a {
  color: #fff;
}

main {
  padding: 20px;
  text-align: center;
}

div {
  margin-bottom: 30px;
  text-align: center;
  align-items: baseline;
}

.about,
.skills,
.projects,
.contact-form {
  margin-bottom: 30px;
}

footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  bottom: 0;
  position: fixed;
}

footer a {
  color: #fff;
}
